In [1]:
%pip install ipywidgets

Requirement already satisfied: ipywidgets in /Users/mp/.pyenv/versions/3.10.10/lib/python3.10/site-packages (8.1.1)
Requirement already satisfied: comm>=0.1.3 in /Users/mp/.pyenv/versions/3.10.10/lib/python3.10/site-packages (from ipywidgets) (0.1.3)
Requirement already satisfied: ipython>=6.1.0 in /Users/mp/.pyenv/versions/3.10.10/lib/python3.10/site-packages (from ipywidgets) (8.14.0)
Requirement already satisfied: traitlets>=4.3.1 in /Users/mp/.pyenv/versions/3.10.10/lib/python3.10/site-packages (from ipywidgets) (5.9.0)
Requirement already satisfied: widgetsnbextension~=4.0.9 in /Users/mp/.pyenv/versions/3.10.10/lib/python3.10/site-packages (from ipywidgets) (4.0.9)
Requirement already satisfied: jupyterlab-widgets~=3.0.9 in /Users/mp/.pyenv/versions/3.10.10/lib/python3.10/site-packages (from ipywidgets) (3.0.9)
Requirement already satisfied: backcall in /Users/mp/.pyenv/versions/3.10.10/lib/python3.10/site-packages (from ipython>=6.1.0->ipywidgets) (0.2.0)
Requirement already satisfied: decorator in /Users/mp/.pyenv/versions/3.10.10/lib/python3.10/site-packages (from ipython>=6.1.0->ipywidgets) (5.1.1)
Requirement already satisfied: jedi>=0.16 in /Users/mp/.pyenv/versions/3.10.10/lib/python3.10/site-packages (from ipython>=6.1.0->ipywidgets) (0.18.2)
Requirement already satisfied: matplotlib-inline in /Users/mp/.pyenv/versions/3.10.10/lib/python3.10/site-packages (from ipython>=6.1.0->ipywidgets) (0.1.6)
Requirement already satisfied: pickleshare in /Users/mp/.pyenv/versions/3.10.10/lib/python3.10/site-packages (from ipython>=6.1.0->ipywidgets) (0.7.5)
Requirement already satisfied: prompt-toolkit!=3.0.37,<3.1.0,>=3.0.30 in /Users/mp/.pyenv/versions/3.10.10/lib/python3.10/site-packages (from ipython>=6.1.0->ipywidgets) (3.0.38)
Requirement already satisfied: pygments>=2.4.0 in /Users/mp/.pyenv/versions/3.10.10/lib/python3.10/site-packages (from ipython>=6.1.0->ipywidgets) (2.15.1)
Requirement already satisfied: stack-data in /Users/mp/.pyenv/versions/3.10.10/lib/python3.10/site-packages (from ipython>=6.1.0->ipywidgets) (0.6.2)
Requirement already satisfied: pexpect>4.3 in /Users/mp/.pyenv/versions/3.10.10/lib/python3.10/site-packages (from ipython>=6.1.0->ipywidgets) (4.8.0)
Requirement already satisfied: appnope in /Users/mp/.pyenv/versions/3.10.10/lib/python3.10/site-packages (from ipython>=6.1.0->ipywidgets) (0.1.3)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /Users/mp/.pyenv/versions/3.10.10/lib/python3.10/site-packages (from jedi>=0.16->ipython>=6.1.0->ipywidgets) (0.8.3)
Requirement already satisfied: ptyprocess>=0.5 in /Users/mp/.pyenv/versions/3.10.10/lib/python3.10/site-packages (from pexpect>4.3->ipython>=6.1.0->ipywidgets) (0.7.0)
Requirement already satisfied: wcwidth in /Users/mp/.pyenv/versions/3.10.10/lib/python3.10/site-packages (from prompt-toolkit!=3.0.37,<3.1.0,>=3.0.30->ipython>=6.1.0->ipywidgets) (0.2.6)
Requirement already satisfied: executing>=1.2.0 in /Users/mp/.pyenv/versions/3.10.10/lib/python3.10/site-packages (from stack-data->ipython>=6.1.0->ipywidgets) (1.2.0)
Requirement already satisfied: asttokens>=2.1.0 in /Users/mp/.pyenv/versions/3.10.10/lib/python3.10/site-packages (from stack-data->ipython>=6.1.0->ipywidgets) (2.2.1)
Requirement already satisfied: pure-eval in /Users/mp/.pyenv/versions/3.10.10/lib/python3.10/site-packages (from stack-data->ipython>=6.1.0->ipywidgets) (0.2.2)
Requirement already satisfied: six in /Users/mp/.pyenv/versions/3.10.10/lib/python3.10/site-packages (from asttokens>=2.1.0->stack-data->ipython>=6.1.0->ipywidgets) (1.16.0)

[notice] A new release of pip is available: 23.2.1 -> 23.3.1
[notice] To update, run: pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [42]:
import pandas as pd
import ipywidgets as widgets
import importlib  
try:
  constants = importlib.import_module("knowledge-bases.hw1.constants")
except:
  print('')
from constants import get_output_paths, OUTPUT_FILE_NAME

In [40]:
df.dtypes

URL             object
Company         object
Job             object
Salary          object
Location        object
Views            int64
Responses      float64
Category        object
Employment      object
Experience      object
English         object
Domain          object
Description     object
dtype: object

In [87]:
df = pd.read_csv(get_output_paths(OUTPUT_FILE_NAME)[0])

def extract_from_salary(salary_range):
    if pd.isna(salary_range):
        return None
    if "–¥–æ" in salary_range:
        return None
    salary_parts = salary_range.split('-')
    return int(salary_parts[0])

def extract_to_salary(salary_range):
    if pd.isna(salary_range):
        return None
    if "–¥–æ" in salary_range:
        return salary_range.split()[1]
    salary_parts = salary_range.split('-')
    if len(salary_parts) == 1:
        return None
    salary_to = int(salary_parts[1])
    return salary_to

def extract_countries(location):
    return ",".join(location.split("(")[0].replace(" ", "").split(','))

def extract_cities(location):
    countries_cities = location.split("(")
    if len(countries_cities) == 1:
        return None
    return ",".join(countries_cities[1].replace(" ", "").replace(")", "").split(','))

def extract_english(english):
    if pd.isna(english):
        return None
    return english.replace("–ê–Ω–≥–ª—ñ–π—Å—å–∫–∞:", "").replace(" ", "")

df['Salary_from'] = df['Salary'].apply(extract_from_salary)
df['Salary_to'] = df['Salary'].apply(extract_to_salary)
df['Countries'] = df['Location'].apply(extract_countries)
df['Cities'] = df['Location'].apply(extract_cities)
df['English'] = df['English'].apply(extract_english)
df['Salary_from'] = pd.to_numeric(df['Salary_from'], errors='coerce')
df['Salary_to'] = pd.to_numeric(df['Salary_to'], errors='coerce')

df[~df['Salary'].isna()].head(5)

,URL,Company,Job,Salary,Location,Views,Responses,Category,Employment,Experience,English,Domain,Description,Salary_from,Salary_to,Countries,Cities
6,https://djinni.co/jobs/606318-storage-inzhener,Object First,Storage —ñ–Ω–∂–µ–Ω–µ—Ä,1200-2000,–£–∫—Ä–∞—ó–Ω–∞ (–ö–∏—ó–≤),12,1.0,Sysadmin,–¢—ñ–ª—å–∫–∏ –≤—ñ–¥–¥–∞–ª–µ–Ω–æ,3.0,None,–î–æ–º–µ–Ω: Security,–û–±–æ–≤‚Äô—è–∑–∫–∏:–í–∏–∫–æ–Ω–∞–Ω–Ω—è —Ä—ñ–∑–Ω–æ–º–∞–Ω—ñ—Ç–Ω–∏—Ö –≤–∏–¥—ñ–≤ —Ä—É—á–Ω–æ–≥...,1200.0,2000.0,–£–∫—Ä–∞—ó–Ω–∞,–ö–∏—ó–≤
7,https://djinni.co/jobs/597673-finance-analyst,First.ua,Finance Analyst,2000-3000,–£–∫—Ä–∞—ó–Ω–∞ (–ö–∏—ó–≤),7,NaN,Other,–¢—ñ–ª—å–∫–∏ –æ—Ñ—ñ—Å,2.0,None,–î–æ–º–µ–Ω: Gambling,–®—É–∫–∞—î–º–æ:-–ú–∞—î 2+ —Ä–æ–∫–∏ –¥–æ—Å–≤—ñ–¥—É –Ω–∞ –ø–æ–∑–∏—Ü—ñ—ó Financ...,2000.0,3000.0,–£–∫—Ä–∞—ó–Ω–∞,–ö–∏—ó–≤
19,https://djinni.co/jobs/606308-middle-senior-cl...,itsoft,Middle/Senior Cloud Operations Specialist,4000-6000,"–í—ñ—Ä–º–µ–Ω—ñ—è, –Ü–∑—Ä–∞—ó–ª—å, –£–∫—Ä–∞—ó–Ω–∞",20,3.0,DevOps,–¢—ñ–ª—å–∫–∏ –≤—ñ–¥–¥–∞–ª–µ–Ω–æ,3.0,Upper-Intermediate,–î–æ–º–µ–Ω: Hardware / IoT,General informationCommit is the leading syste...,4000.0,6000.0,"–í—ñ—Ä–º–µ–Ω—ñ—è,–Ü–∑—Ä–∞—ó–ª—å,–£–∫—Ä–∞—ó–Ω–∞",None
21,https://djinni.co/jobs/598576-head-of-digital-...,Supplax,Head of digital marketing,1200-1700,–£–∫—Ä–∞—ó–Ω–∞,5,1.0,Marketing,–¢—ñ–ª—å–∫–∏ –≤—ñ–¥–¥–∞–ª–µ–Ω–æ,2.0,Intermediate,–î–æ–º–µ–Ω: Advertising / Marketing,–•—Ç–æ –º–∏?–ú–∏ –ø—Ä–∞—Ü—é—î–º–æ –ø–æ –º–æ–¥–µ–ª—ñ –£–±–µ—Ä. –ó–∞–π–º–∞—î–º–æ—Å—è ...,1200.0,1700.0,–£–∫—Ä–∞—ó–Ω–∞,None
27,https://djinni.co/jobs/606304-trainee-affiliat...,Infinite Plus,Trainee Affiliate Manager,300-500,–£–∫—Ä–∞—ó–Ω–∞,25,3.0,Marketing,–¢—ñ–ª—å–∫–∏ –≤—ñ–¥–¥–∞–ª–µ–Ω–æ,NaN,Upper-Intermediate,–î–æ–º–µ–Ω: E-commerce / Marketplace,We are looking for Trainee Affiliate Manager t...,300.0,500.0,–£–∫—Ä–∞—ó–Ω–∞,None

In [181]:
from ipywidgets import Box, VBox, widgets
import math

category_dropdown = widgets.Dropdown( options=list(set(df['Category'].values)), description='Category:')
experience_dropdown = widgets.Dropdown( options=[x for x in list(set(df['Experience'].values)) if not math.isnan(x)], description='Experience:')
country_dropdown = widgets.Dropdown( options=list(set([y.strip() for x in list(set(df['Countries'].values)) for y in x.split(',')])), value= "–£–∫—Ä–∞—ó–Ω–∞", description='Country:')

multi_cities = [x for x in list(set(df['Cities'].values)) if not(type(x) == float and math.isnan(x))]
city_dropdown = widgets.Dropdown( options=list(set([y.strip() for x in multi_cities if x for y in x.split(',') if '+' not in y.strip()])), description='City:')
english_dropdown = widgets.Dropdown( options=list(set(df['English'].values)), description='English:')
employment_dropdown = widgets.Dropdown( options=list(set([x for x in df['Employment'].values if ',' not in x])), description='Employment:')

multi_domains = [x.replace("–î–æ–º–µ–Ω: ", "") for x in list(set(df['Domain'].values)) if not(type(x) == float and math.isnan(x))]
domains_multiselect = widgets.SelectMultiple(
    options=[y.strip() for x in multi_domains for y in x.split('/')],
    description='Not interested in Domains:',
)

salary_from_slider = widgets.IntSlider(
  value=1000,
    min=0,
    max=max([x for x in df['Salary_to'].values if not math.isnan(x)]),
    step=500,
    description='Salary from:',
    continuous_update=False,
    orientation='horizontal',
    readout=True,
    readout_format='d'
)
widget_list = [
  category_dropdown, 
  experience_dropdown, 
  salary_from_slider, 
  country_dropdown,
  city_dropdown, 
  english_dropdown, 
  employment_dropdown, 
  domains_multiselect
  ]

changed_idxs = set()
for widget in widget_list:
  widget.observe(lambda change: changed_idxs.add(widget_list.index(change.owner)), names='value')

Box([VBox(children=widget_list)])

Box(children=(VBox(children=(Dropdown(description='Category:', options=('Lead', 'Rust', 'Data Analyst', 'Sales‚Ä¶

In [183]:
# –ü–æ—Å–∞–¥–∞                    -> Job
job = "Data"
# –ö–∞—Ç–µ–≥–æ—Ä—ñ—è                 -> Category
category = category_dropdown.value
# –ù–∞–≤–∏—á–∫–∏                   -> FULL_TEXT in Description
skills = ["python"]
# –î–æ—Å–≤—ñ–¥ —Ä–æ–±–æ—Ç–∏             -> Experience
experience = experience_dropdown.value
# –ó–∞—Ä–ø–ª–∞—Ç–Ω—ñ –æ—á—ñ–∫—É–≤–∞–Ω–Ω—è      -> Salary [estimate]
salary_from = salary_from_slider.value 
# –ö—Ä–∞—ó–Ω–∞ –ø–µ—Ä–µ–±—É–≤–∞–Ω–Ω—è        -> Location
country = country_dropdown.value
# –ú—ñ—Å—Ç–æ –ø–µ—Ä–µ–±—É–≤–∞–Ω–Ω—è         -> Location
city = city_dropdown.value
# –†—ñ–≤–µ–Ω—å –∞–Ω–≥–ª—ñ–π—Å—å–∫–æ—ó        -> English
english = english_dropdown.value
# –í–∞—Ä—ñ–∞–Ω—Ç–∏ –∑–∞–π–Ω—è—Ç–æ—Å—Ç—ñ       -> Employment
employment = employment_dropdown.value
# –ù–µ —Ä–æ–∑–≥–ª—è–¥–∞—é              -> Domain
domains = domains_multiselect.value

(job,category,skills,experience,salary_from,country,city,english,employment,domains, changed_idxs)

('Data',
 'Lead',
 ['python'],
 1.0,
 1000,
 '–£–∫—Ä–∞—ó–Ω–∞',
 '–õ—å–≤—ñ–≤',
 'Upper-Intermediate',
 '–¢—ñ–ª—å–∫–∏ –≤—ñ–¥–¥–∞–ª–µ–Ω–æ',
 (),
 set())

In [210]:
Job_bool =   (df['Job'].str.contains(job, case=False, na=False) if job else True) 
Category_bool =   (df['Category'].str.lower() == category.lower() if 0 in changed_idxs else True) 
Description_bool =   (df['Description'].str.contains('|'.join(skills), case=False, na=False) if len(skills) else True) 
Experience_bool =   (df['Experience'] <= experience if 1 in changed_idxs else True) 
Salary_bool =   (df['Salary'].isna() | ((df['Salary_from'] <= salary_from) & (df['Salary_to'] >= salary_from)) if 2 in changed_idxs else True) 
Countries_bool =   (df['Countries'].str.contains(country, case=False, na=False) if 3 in changed_idxs else True) 
Cities_bool =   (df['Cities'].str.contains(city, case=False, na=False) if 4 in changed_idxs else True) 
English_bool =   (df['English'].isna() | (df['English'] == english) if 5 in changed_idxs else True) 
Employment_bool =   (df['Employment'].str.contains(employment, case=False, na=False) if 6 in changed_idxs else True) 
Domain_bool =  (~df['Domain'].str.contains('|'.join(domains), case=False, na=False) if 7 in changed_idxs else True)

In [211]:
(
  0 if type(Job_bool) == bool else (Job_bool==True).sum(),
  0 if type(Category_bool) == bool else (Category_bool==True).sum(),
  0 if type(Description_bool) == bool else (Description_bool==True).sum(),
  0 if type(Experience_bool) == bool else (Experience_bool==True).sum(),
  0 if type(Salary_bool) == bool else (Salary_bool==True).sum(),
  0 if type(Countries_bool) == bool else (Countries_bool==True).sum(),
  0 if type(Cities_bool) == bool else (Cities_bool==True).sum(),
  0 if type(English_bool) == bool else (English_bool==True).sum(),
  0 if type(Employment_bool) == bool else (Employment_bool==True).sum(),
  0 if type(Domain_bool) == bool else (Domain_bool==True).sum(),
)

(36, 0, 153, 0, 0, 0, 0, 0, 0, 0)

In [212]:

df[
  Job_bool &
  Category_bool &
  Description_bool &
  Experience_bool &
  Salary_bool &
  Countries_bool &
  Cities_bool &
  English_bool &
  Employment_bool &
  Domain_bool
  ]

,URL,Company,Job,Salary,Location,Views,Responses,Category,Employment,Experience,English,Domain,Description,Salary_from,Salary_to,Countries,Cities
9,https://djinni.co/jobs/598678-junior-middle-da...,BetterMe,Junior/Middle Data Analyst,NaN,–£–∫—Ä–∞—ó–Ω–∞ (–ö–∏—ó–≤),20,3.0,Data Analyst,Office –∞–±–æ Remote,1.0,None,–î–æ–º–µ–Ω: Healthcare / MedTech,ABOUT US:BetterMe is a health & wellness platf...,NaN,NaN,–£–∫—Ä–∞—ó–Ω–∞,–ö–∏—ó–≤
73,https://djinni.co/jobs/606275-data-analyst,12go.asia,Data Analyst,2500-3000,–£–∫—Ä–∞—ó–Ω–∞ (–ö–∏—ó–≤),81,23.0,Data Analyst,–¢—ñ–ª—å–∫–∏ –≤—ñ–¥–¥–∞–ª–µ–Ω–æ,3.0,Intermediate,–î–æ–º–µ–Ω: Travel / Tourism,About 12Go.Asia: - Leading multi-modal OTA (On...,2500.0,3000.0,–£–∫—Ä–∞—ó–Ω–∞,–ö–∏—ó–≤
76,https://djinni.co/jobs/580922-middle-data-engi...,Sigma Software,Middle Data Engineer (Healthcare domain),NaN,"–ë–æ–ª–≥–∞—Ä—ñ—è, –ß–µ—Ö—ñ—è, –£–≥–æ—Ä—â–∏–Ω–∞, –ü–æ–ª—å—â–∞,...",6,1.0,Data Engineer,Office –∞–±–æ Remote,2.0,Upper-Intermediate,–î–æ–º–µ–Ω: Healthcare / MedTech,Sigma Software is looking for a motivated Data...,NaN,NaN,"–ë–æ–ª–≥–∞—Ä—ñ—è,–ß–µ—Ö—ñ—è,–£–≥–æ—Ä—â–∏–Ω–∞,–ü–æ–ª—å—â–∞,–ü–æ—Ä—Ç—É–≥–∞–ª—ñ—è",None
163,https://djinni.co/jobs/606196-data-scientist-r...,Grid Dynamics,Data Scientist (Retraining Opportunity),NaN,"–£–∫—Ä–∞—ó–Ω–∞ (–î–Ω—ñ–ø—Ä–æ, –ö–∏—ó–≤, –õ—å–≤—ñ–≤, –•–∞—Ä–∫—ñ–≤)",42,2.0,Data Science,Office –∞–±–æ Remote,3.0,Upper-Intermediate,NaN,We have a unique retraining opportunity for in...,NaN,NaN,–£–∫—Ä–∞—ó–Ω–∞,"–î–Ω—ñ–ø—Ä–æ,–ö–∏—ó–≤,–õ—å–≤—ñ–≤,–•–∞—Ä–∫—ñ–≤"
169,https://djinni.co/jobs/606193-data-scientist,AMLBot,Data Scientist,NaN,–£–∫—Ä–∞—ó–Ω–∞ (–ö–∏—ó–≤),44,7.0,Data Science,Office –∞–±–æ Remote,3.0,Intermediate,–î–æ–º–µ–Ω: Blockchain / Crypto,AMLBot is looking for an experienced Data Scie...,NaN,NaN,–£–∫—Ä–∞—ó–Ω–∞,–ö–∏—ó–≤
217,https://djinni.co/jobs/606153-lead-data-analyst,dok.ua,Lead Data Analyst,NaN,–£–∫—Ä–∞—ó–Ω–∞ (–ö–∏—ó–≤),14,1.0,Data Analyst,–ì—ñ–±—Ä–∏–¥–Ω–∞ —Ä–æ–±–æ—Ç–∞,3.0,Intermediate,–î–æ–º–µ–Ω: E-commerce / Marketplace,üîä dok.ua - –ø—Ä–∞—Ü—é—î–º–æ —è–∫ e-commerce –∑ 10-—Ä—ñ—á–Ω–∏–º ...,NaN,NaN,–£–∫—Ä–∞—ó–Ω–∞,–ö–∏—ó–≤
218,https://djinni.co/jobs/606159-middle-data-engi...,GR8 Tech,Middle Data Engineer for Data Models Team,NaN,"–ß–µ—Ö—ñ—è, –ü–æ–ª—å—â–∞, –£–∫—Ä–∞—ó–Ω–∞",67,3.0,Data Engineer,Office –∞–±–æ Remote,2.0,Upper-Intermediate,–î–æ–º–µ–Ω: Gambling,About your key responsibilities and impact:- W...,NaN,NaN,"–ß–µ—Ö—ñ—è,–ü–æ–ª—å—â–∞,–£–∫—Ä–∞—ó–Ω–∞",None
349,https://djinni.co/jobs/606020-data-quality-ass...,Dash Financial Technologies,Data Quality Assurance Engineer,5000-5500,–°–ø–æ–ª—É—á–µ–Ω—ñ –®—Ç–∞—Ç–∏,157,24.0,QA Automation,–¢—ñ–ª—å–∫–∏ –≤—ñ–¥–¥–∞–ª–µ–Ω–æ,5.0,Upper-Intermediate,–î–æ–º–µ–Ω: Fintech,Please make sure you have read the Job Descrip...,5000.0,5500.0,–°–ø–æ–ª—É—á–µ–Ω—ñ–®—Ç–∞—Ç–∏,None
356,https://djinni.co/jobs/606015-middle-big-data-...,Adjutor,Middle Big Data Engineer,–¥–æ 5600,–£–∫—Ä–∞—ó–Ω–∞,56,10.0,Data Engineer,–¢—ñ–ª—å–∫–∏ –≤—ñ–¥–¥–∞–ª–µ–Ω–æ,3.0,Upper-Intermediate,–î–æ–º–µ–Ω: Machine Learning / Big Data,Our partner is a one-stop custom software deve...,NaN,5600.0,–£–∫—Ä–∞—ó–Ω–∞,None
401,https://djinni.co/jobs/605997-senior-data-scie...,Eastern Peak,Senior Data Science / Machine Learning Engineer,NaN,"–£–∫—Ä–∞—ó–Ω–∞, –Ü–∑—Ä–∞—ó–ª—å, –í–µ–ª–∏–∫–∞ –ë—Ä–∏—Ç–∞–Ω—ñ—è",40,11.0,Data Science,–¢—ñ–ª—å–∫–∏ –≤—ñ–¥–¥–∞–ª–µ–Ω–æ,5.0,Upper-Intermediate,NaN,We are looking for an experienced Data Science...,NaN,NaN,"–£–∫—Ä–∞—ó–Ω–∞,–Ü–∑—Ä–∞—ó–ª—å,–í–µ–ª–∏–∫–∞–ë—Ä–∏—Ç–∞–Ω—ñ—è",None
487,https://djinni.co/jobs/581792-data-engineer-he...,Sigma Software,Data Engineer (Healthcare domain),NaN,"–ë–æ–ª–≥–∞—Ä—ñ—è, –ü–æ–ª—å—â–∞, –ü–æ—Ä—Ç—É–≥–∞–ª—ñ—è, –†—É–º—É...",54,6.0,Data Science,Office –∞–±–æ Remote,3.0,Upper-Intermediate,–î–æ–º–µ–Ω: Healthcare / MedTech,Sigma Software —à—É–∫–∞—î –≤–º–æ—Ç–∏–≤–æ–≤–∞–Ω–æ–≥–æ Data-—ñ–Ω–∂–µ–Ω–µ...,NaN,NaN,"–ë–æ–ª–≥–∞—Ä—ñ—è,–ü–æ–ª—å—â–∞,–ü–æ—Ä—Ç—É–≥–∞–ª—ñ—è,–†—É–º—É–Ω—ñ—è,–£–∫—Ä–∞—ó–Ω–∞","–í—ñ–Ω–Ω–∏—Ü—è,–î–Ω—ñ–ø—Ä–æ,–ñ–∏—Ç–æ–º–∏—Ä+—â–µ10–º—ñ—Å—Ç"
506,https://djinni.co/jobs/605920-azure-data-engin...,Luxoft,"Azure Data Engineer, Wroclaw",NaN,–ü–æ–ª—å—â–∞,8,1.0,Data Engineer,Office –∞–±–æ Remote,5.0,Upper-Intermediate,NaN,Project DescriptionYou will be working in a gl...,NaN,NaN,–ü–æ–ª—å—â–∞,None
531,https://djinni.co/jobs/605506-senior-data-analyst,SEOBROTHERS,Senior Data Analyst,NaN,–ö—ñ–ø—Ä,51,13.0,Data Analyst,–¢—ñ–ª—å–∫–∏ –æ—Ñ—ñ—Å,3.0,Upper-Intermediate,–î–æ–º–µ–Ω: Gambling,We are looking for an experienced Senior Data ...,NaN,NaN,–ö—ñ–ø—Ä,None
548,https://djinni.co/jobs/605889-middle-data-scie...,EVO,Middle Data Scientist,NaN,–£–∫—Ä–∞—ó–Ω–∞ (–ö–∏—ó–≤),44,6.0,Data Science,–ì—ñ–±—Ä–∏–¥–Ω–∞ —Ä–æ–±–æ—Ç–∞,3.0,None,–î–æ–º–µ–Ω: E-commerce / Marketplace,"Prom.ua ‚Äì –Ω–∞–π–±—ñ–ª—å—à–∏–π –º–∞—Ä–∫–µ—Ç–ø–ª–µ–π—Å –£–∫—Ä–∞—ó–Ω–∏, –¥–µ –ø...",NaN,NaN,–£–∫—Ä–∞—ó–Ω–∞,–ö–∏—ó–≤
647,https://djinni.co/jobs/597771-data-analyst,MAUDAU,Data Analyst,NaN,–£–∫—Ä–∞—ó–Ω–∞ (–ö–∏—ó–≤),58,7.0,Data Analyst,Office –∞–±–æ Remote,3.0,None,–î–æ–º–µ–Ω: E-commerce / Marketplace,"–û–ø–∏—Å‚Ä¢ –ú–æ–Ω—ñ—Ç–æ—Ä–∏–Ω–≥ —ñ –∞–Ω–∞–ª—ñ–∑ –ø—Ä–æ–¥–∞–∂—ñ–≤, –≤–∫–ª—é—á–∞—é—á–∏ ...",NaN,NaN,–£–∫—Ä–∞—ó–Ω–∞,–ö–∏—ó–≤
677,https://djinni.co/jobs/605777-database,SoloWay Technologies,Database,NaN,–£–∫—Ä–∞—ó–Ω–∞,25,2.0,SQL,–¢—ñ–ª—å–∫–∏ –≤—ñ–¥–¥–∞–ª–µ–Ω–æ,5.0,Upper-Intermediate,NaN,Part time participation: consultation at START...,NaN,NaN,–£–∫—Ä–∞—ó–Ω–∞,None
749,https://djinni.co/jobs/605706-gcp-data-enginee...,ITExpert,GCP Data Engineer –¥–ª—è —Å—Ç–≤–æ—Ä–µ–Ω–Ω—è –ø—Ä–æ–¥—É–∫—Ç—É –∑ –Ω—É–ª—è,NaN,–£–∫—Ä–∞—ó–Ω–∞ (–ö–∏—ó–≤),25,3.0,Data Engineer,–¢—ñ–ª—å–∫–∏ –æ—Ñ—ñ—Å,3.0,None,–î–æ–º–µ–Ω: Blockchain / Crypto,"–ö–æ–º–ø–∞–Ω—ñ—è –∑–∞–∫—Ä–∏—Ç–æ–≥–æ —Ç–∏–ø—É, —â–æ —Å–ø–µ—Ü—ñ–∞–ª—ñ–∑—É—î—Ç—å—Å—è –Ω–∞...",NaN,NaN,–£–∫—Ä–∞—ó–Ω–∞,–ö–∏—ó–≤
770,https://djinni.co/jobs/605688-data-engineer,TrueAutomation.io,Data Engineer,1500-2500,–£–∫—Ä–∞—ó–Ω–∞,35,2.0,Data Engineer,–¢—ñ–ª—å–∫–∏ –≤—ñ–¥–¥–∞–ª–µ–Ω–æ,3.0,Upper-Intermediate,–î–æ–º–µ–Ω: SaaS,Data Engineer is responsible for data extracti...,1500.0,2500.0,–£–∫—Ä–∞—ó–Ω–∞,None
839,https://djinni.co/jobs/605626-senior-data-engi...,Upstaff,Senior Data Engineer,NaN,–£–∫—Ä–∞—ó–Ω–∞,40,3.0,Data Engineer,–¢—ñ–ª—å–∫–∏ –≤—ñ–¥–¥–∞–ª–µ–Ω–æ,3.0,Upper-Intermediate,NaN,Summary- 3+ years of expertise in data enginee...,NaN,NaN,–£–∫—Ä–∞—ó–Ω–∞,None
866,https://djinni.co/jobs/605599-senior-data-analyst,TemaBit Fozzy Group,Senior Data Analyst,NaN,–£–∫—Ä–∞—ó–Ω–∞,46,4.0,Data Analyst,Office –∞–±–æ Remote,3.0,None,–î–æ–º–µ–Ω: E-commerce / Marketplace,–ü—Ä–∏–≤—ñ—Ç!–ú–∏ ‚Äî E-Com ‚Äî –∫–æ–º–∞–Ω–¥–∞ –∑–∞–∫–æ—Ö–∞–Ω–∏—Ö —É Foodte...,NaN,NaN,–£–∫—Ä–∞—ó–Ω–∞,None
942,https://djinni.co/jobs/568694-data-architect-aws-,TemaBit Fozzy Group,Data Architect (AWS),NaN,–£–∫—Ä–∞—ó–Ω–∞ (–ö–∏—ó–≤),40,1.0,DevOps,Office –∞–±–æ Remote,3.0,Upper-Intermediate,–î–æ–º–µ–Ω: E-commerce / Marketplace,–ü—Ä–∏–≤—ñ—Ç!–ú–∏ - TemaBit Fozzy Group ‚Äî –∫–æ–º–∞–Ω–¥–∞ —Ñ–∞–Ω–∞...,NaN,NaN,–£–∫—Ä–∞—ó–Ω–∞,–ö–∏—ó–≤
987,https://djinni.co/jobs/605484-senior-data-auto...,JOIDY,Senior Data Automation Engineer,NaN,–£–∫—Ä–∞—ó–Ω–∞,115,16.0,QA Automation,–¢—ñ–ª—å–∫–∏ –≤—ñ–¥–¥–∞–ª–µ–Ω–æ,5.0,Upper-Intermediate,–î–æ–º–µ–Ω: Travel / Tourism,JOIDY is looking for a Senior Data Automation ...,NaN,NaN,–£–∫—Ä–∞—ó–Ω–∞,None